body{
    margin:0;
    padding:0;
    background-color:#f8f8ff;
}
[v-cloak]{
    display:none;
}
#fixed-container{
    max-width:1000px;
    min-height:90vh;
    padding-top:40px;
    margin:0 auto;
}
#list{
    width:50%;
    float:left;
}
#add-delo{
    width:50%;
    float:left;
}
h4{
    color:#878787;
    margin:10px;
    margin-left:0;
}
#form{
    max-width:100%;
    height:60%;
    background-color:white;
    padding:40px;
}
#username{
    width:100%;
    height:40px;
    background-color: 	#f8f8ff;
    border:0.5px solid #a8a8a8;
    font-size:20px;
}
#name-delo{
    width:100%;
    height:40px;
    background-color: 	#f8f8ff;
    border:0.5px solid #a8a8a8;
    font-size:20px;
}
#opisanie-delo{
    width:100%;
    height:160px;
    resize:none;
    background-color: 	#f8f8ff;
    border:0.5px solid #a8a8a8;
    font-size:20px;
}
#button{
    color:white;
    background-color:#57b0ff;
    border:0;
    min-width:45%;
    height:50px;
}
#button:hover{
    background-color: #247ad6;
}
.delo{
    background-color: blue;
}
.list-item{
    background-color: white;
    width:85%;
    margin:20px 0;
}